<div class="row recommended-tracks">
  <p>
    <span class="glyphicon glyphicon-music"></span>
    <%= t ".songs_for_you" %>
  </p>
  <% tracks.each do |track| %>
    <div class="recommended-track panel">
      <%= link_to post_path(track.first_shared_post) do %>
        <h3>
          <span class="glyphicon glyphicon-music"></span> <%= track.name %>
        </h3>
      <% end %>
      <div>
        <small>
          <%= link_to track.user_name, user_path(track.user) %>
        </small>
        <small class="pull-right">
          <span class="glyphicon glyphicon-play"></span>
          <%= track.unique_impression_count %>
        </small>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class="row recommended-users">
  <p>
    <span class="glyphicon glyphicon-user"></span>
    <%= t ".who_to_follow" %>
  </p>
  <% users.each do |user| %>
    <div class="recommended_user panel">
      <%= link_to user_path(user) do %>
        <div class="row">
          <div class="col-sm-2">
            <span class="circle user-avatar"
              data-user-avatar="<%= user.avatar %>">
            </span>
          </div>
          <div class="col-md-8">
            <span><%= user.name || user.email %></span><br>
            <span class="glyphicon glyphicon-user"></span>
            <span><%= user.followers.count %></span>
          </div>
          <div class="col-md-2">
            <span>
              <% if user_signed_in? && user.id != current_user.id %>
                <% relationship = current_user.relationship_with user %>
                <%= render "users/follow_form",
                  user: user, relationship: relationship %>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
