<!DOCTYPE html>
<html>
<head>
  <title><%= t ".title" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
</head>
<body>
  <% provide :title, t(".title") %>
  <div class="cover-wrapper">
    <nav class="navbar">
      <div class="container nav">
        <%= link_to t(".sign_in"), new_user_session_path,
          class: 'btn landing-page' %>
      </div>
    </nav>

    <div class="index">
      <h2 class="hero-intro"><%= t ".title" %></h2>
      <form class="header-search form-group has-feedback" role="form" action=""
        method="GET" accept-charset="utf-8">
        <input id="search-box" class="form-control" type="text" name="search"
          placeholder="<%= t ".placeholder" %>"
          onkeyup="" autocomplete="off">
        <span class="glyphicon glyphicon-search form-control-feedback"
          aria-hidden="true">
        </span>
        <div class="input_container">
          <ul id="result"></ul>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
