<div class="post">
  <% if post.content.is_post? %>
    <small>
      <%= link_to post.user_name || post.user_email, user_path(post.user) %>
      <%= t ".reposted_this" %>
    </small>
    <small class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      <%= distance_of_time_in_words post.created_at, Time.now %>
    </small>
  <% end %>

  <% if post.content.is_post? %>
    <%= render "posts/content", post: post.content %>
  <% else %>
    <%= render "posts/content", post: post %>
  <% end %>

  <div class="post-action">
    <%= link_to t(".share"), posts_path(post),
      method: :post %>
    <%= link_to t(".delete"), post_path(post),
      method: :delete, class: "btn btn-danger pull-right" %>
  </div>
  <hr>
</div>
