<div class="post panel" id="post_<%= post.id %>" data-post-id="<%= post.id %>">
  <% if post.content.is_post? %>
    <small>
      <%= link_to post.user_name || post.user_email, user_path(post.user) %>
      <%= link_to t(".reposted_this"), post_path(post) %>
    </small>
  <% end %>

  <% if post.content.is_post? %>
    <div class="repost">
      <%= render "posts/content", post: post.original_post %>
    </div>
  <% else %>
    <div>
      <%= render "posts/content", post: post.original_post %>
    </div>
  <% end %>
  <div class="post-action">
    <%= link_to post_path(post) do %>
      <span class="glyphicon glyphicon-comment"></span>
      <%= post.comments.count %>
    <% end %>
    |
    <%= link_to t(".share"), post_shareds_path(post_id: post.id),
      method: :post %>
    <%= link_to t(".delete"), post_path(post),
      method: :delete, class: "btn btn-danger pull-right" %>
  </div>
  <%= render "posts/add_to_playlist", post: post %>
</div>
