<div class="post panel">
  <% if post.content.is_post? %>
    <small>
      <%= link_to post.user_name || post.user_email, user_path(post.user) %>
      <%= t ".reposted_this" %>
    </small>
    <small class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      <%= distance_of_time_in_words post.created_at, Time.now %>
    </small>
  <% end %>

  <% if post.content.is_post? %>
    <div class="repost">
      <%= render "posts/content", post: post.original_post %>
    </div>
  <% else %>
    <div>
      <%= render "posts/content", post: post.original_post %>
    </div>
  <% end %>
  <div class="post-action">
    <%= link_to t(".share"), post_shareds_path(post_id: post.id),
      method: :post %>
    <%= link_to t(".delete"), post_path(post),
      method: :delete, class: "btn btn-danger pull-right" %>
  </div>
  <hr>
</div>
