<% if user_signed_in? %>
  <div class="row recommended-tracks">
    <% current_user.recommended_tracks(3).each do |track| %>
      <div class="recommended-track panel">
        <%= link_to post_path(track.first_shared_post) do %>
          <h3>
            <span class="glyphicon glyphicon-music"></span> <%= track.name %>
          </h3>
        <% end %>
        <div>
          <small>
            <%= link_to track.user_name, user_path(track.user) %>
          </small>
          <small class="pull-right">
            <span class="glyphicon glyphicon-play"></span>
            <%= track.unique_impression_count %>
          </small>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="row recommended-users">
    <% current_user.recommended_users(3).each do |user| %>
      <% unless user.id == current_user.id %>
        <div class="recommended_user panel">
          <span class="circle user-avatar"
            data-user-avatar="<%= user.avatar %>">
          </span>
          <span><%= user.name || user.email %></span>
          <% relationship = current_user.relationship_with user %>
          <% if user_signed_in? && current_user.id != user.id %>
            <%= render "users/follow_form",
              user: user, relationship: relationship %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
<% end %>
